.mainworkspace{
    background-color: black;
    /* height:100vh;
    width: 200vw; */
    height:100vh;
    width: 200vw;
    position: relative;

}
.videowork{
    height :100vh;
    width:100vw;
    left: 125px;
    position: absolute;
}
.headline{
color: #C5EDFF;
font-weight: 300;
font-size: 50px;
position: relative;
top: 191px;
width:51vw;
left:27px;
font-family: inherit;
/* font-family: fangsong; */
/* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
}
.subheading{
    color:#C5EDFF;
    font-size:20px;
    top:224px;
    width: 43vw;
    left:27px;
    position:relative;

}
.register-button{
    position: relative;
    top:270px;
    left: 27px;
    /* background-color:#C5EDFF; */
}